.modalBackground{
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.modalCard{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: black;
    width: 450px;
    height: 200px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.divButtons{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm{
    color:#E5E0D8;
    width: 80px;
    height: 35px;
    background-color: #1856B2;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition: .5s;
}

.confirm:hover{
    
    background-color: #154b9c;

}

.cancel{
    color:#6C757D;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border:solid 1px;
    border-color: #6C757D;
    cursor: pointer;
    transition: .5s;
}

.cancel:hover{
    background-color: #6C757D;
    color: #FFF;
}